@import "config";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
  font-family: "Crimson Pro", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: $dark;
}

.bluePastel {
  background-color: $project-pastel-blue;
  span {
    color: $task-vivid-blue;
  }
}
.purplePastel {
  background-color: $project-pastel-purple;
  span {
    color: $task-vivid-purple;
  }
}
.pinkPastel {
  background-color: $project-pastel-pink;
  span {
    color: $task-vivid-pink;
  }
}
.turquisePastel {
  background-color: $project-pastel-turquise;
  span {
    color: $task-vivid-turquoise;
  }
}
