@import "config";
.centeredContainer {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: #fff;
  top: 10%;
  left: 10%;
  // bottom: 0;
  border-radius: 1rem;
  box-shadow: 0 0 12px 1px rgba(255, 255, 255, 0.5);

  padding: 2rem;

  .content {
    display: flex;
    justify-content: space-between;

    height: 100%;
    .header {
      text-align: left;
      position: relative;

      h2 {
        margin: 0;
      }

      .subheader {
        color: $subheader-color;
        font-size: $subheader-font-size;

        margin: 1rem 0;
        padding: 0.1rem;
      }
    }

    .projectsPanel {
      flex: 1;

      .projects {
        height: 100%;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none; /* Firefox 64 */
        -ms-overflow-style: none; /* Internet Explorer 11 */
        &::-webkit-scrollbar {
          /** WebKit */
          display: none;
        }
      }
    }
    .tasksPanel {
      flex: 2;
    }
    .quickTasksPanel {
      flex: 1;
    }
    .projectsPanel,
    .tasksPanel,
    .quickTasksPanel {
      display: flex;
      flex-direction: column;
    }
  }
}
