.projectsScope {
  input[type="radio"] {
    display: none;
  }
  label {
    color: rgba(0, 0, 0, 0.4);
    margin-right: 0.1rem;
    cursor: pointer;
    transition: color 0.5s ease-in-out;

    &:hover {
      color: red;
    }
    &.active {
      border-bottom: 1px solid red;
    }
  }
}
