.taskRow {
  width: 100%;
  height: max-content;
  min-height: 3rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  .text-container {
    flex: 1;
    padding-left: 0.5rem;
    font-size: 0.7rem;

    span {
      font-weight: bold;
    }
    div {
      &.done {
        text-decoration: line-through;
      }
    }
  }
}
